<aside>
  <div class="sidebar" data-group="dashboard" data-tab="sidebar">
    <div class="framevehicle">
      <img class="profile-img img-cre" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
      <img class="overlay" src="systems/demonlord//assets/ui/image-circle-vehicle.webp"/>
    </div>
    {{#if system.characteristics.health.injured}}
      <div class="injured-overlay"></div>
    {{/if}}
    <div class="charsstat">
      <div class="chars grid">
        <div class="bar speed">
          <div class="addSpeed">Current Speed</div>
          <div class="bar-inner">
            <span class="bar-fill speed-fill"></span>
          </div>
          <div class="bar-max">{{system.maximumspeed}}</div>
          <div class="bar-current">{{system.currentspeed}}</div>
        </div>
      </div>
      <div class="chars grid grid-2">
        <div class="box">
          <div class="box-text">{{localize "DL.TalentDamage"}}</div>
          <div class="box-inner">
            <input name="system.characteristics.health.value" type="number"
                   value="{{system.characteristics.health.value}}" data-dtype="Number" placeholder=""/>
          </div>
        </div>
        <div class="box">
          <div class="box-text">{{localize "DL.VehicleHealth"}}</div>
          <div class="box-inner">
            <input name="system.characteristics.health.max" type="number"
                   value="{{system.characteristics.health.max}}" data-dtype="Number" placeholder=""/>
          </div>
        </div>
      </div>
      <div class="chars grid grid-2">
        <div class="box">
          <div class="box-text">{{localize "DL.AttributeDefense"}}</div>
          <div class="box-inner"><input name="system.characteristics.defense" type="number" value="{{system.characteristics.defense}}" data-dtype="Number" placeholder=""/></div>
        </div>
        <div class="box">
          <div class="box-text">{{localize "DL.VehicleCargo"}}</div>
          <div class="box-inner">
            <input name="system.cargo" type="number" value="{{system.cargo}}" data-dtype="Number" placeholder=""/>
            </div>
        </div>
      </div>
      <div class="chars grid grid-2">
        <div class="box">
          <div class="box-text">{{localize "DL.CharSize"}}</div>
          <div class="box-inner">
            <input name="system.characteristics.size" type="text" value="{{system.characteristics.size}}" data-dtype="String" placeholder=""/>
            </div>
        </div>
      </div>
    </div>
    {{!-- <div class="space">
      <input name="system.space" type="text" value="{{system.space}}" data-dtype="String" placeholder="{{localize 'DL.VehicleSpace'}}"/>
    </div>
    <div class="crew">
      <input name="system.crew" type="text" value="{{system.crew}}" data-dtype="String" placeholder="{{localize 'DL.VehicleCrew'}}"/>
    </div> --}}
    {{!-- <div class="turnmode">
      <label class="switchTurn">
        <input type="checkbox" id="system.fastturn" name="system.fastturn" {{checked system.fastturn}}>
        <div class="slider round">
          <span class="on">{{localize "DL.TurnFastButton"}}</span>
          <span class="off">{{localize "DL.TurnSlowButton"}}</span>
        </div>
      </label>
    </div> --}}
  </div>
</aside>
