<div class="demonlord" {{#if actor.id}}data-actor-id="{{actor.id}}" {{/if}}
  {{#if item.id}}data-item-id="{{item.id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
  <div class="showlessinfo">{{data.actorInfo}}</div>
  <header class="card-headersmall">
    <div class="header">Count Bullets</div>
    <div class="headertext {{data.resultText}}">{{data.resultText}}</div>
  </header>

  <div class="result">
    <div class="box {{data.resultText}}">
      <div class="valuetext"> {{data.diceFormula}}</div>
      <div class="boxborder">
        <div class="value">{{data.diceTotal}}</div>
      </div>
    </div>
  </div>
  {{#if data.isFailure}}
    <div class="description">
      Mag is empty, needs replacement
    </div>
  {{else}}
    <div class="description">
      Mag is still going
    </div>
  {{/if}}
</div>
